.Card {
  position: relative;
  width: 60%;
  height: 55px;
  padding: 10px;
  margin: 10px auto;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  transition: 0.2s linear;
}

.card-update {
  background-color: rgba(255, 174, 0, 0.5);
}

.first-row {
  position: relative;
  display: flex;
  width: 80%;
  flex-direction: row;
}

.first-row-info {
  margin: 5px 10px;
}

.second-row {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 5px 10px;
}

.buttons-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.buttons-column button {
  background-color: transparent;
  border: none;
  box-shadow: 0px 0px 1px black;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  transition: 0.2s linear;
  margin: 5px;
}

.buttons-column button:hover {
  background-color: rgba(0, 0, 0, 0.255);
  cursor: pointer;
}

.edit-container {
  position: relative;
  display: flex;
  width: 60%;
  flex-direction: column;
  margin: 10px auto;
  margin-bottom: 30px;
  padding: 10px;
  position: relative;
  display: none;
  transition: 0.2s linear;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.edit-container-hide {
  display: none;
}

.edit-container-show {
  display: flex;
}

.edit-field {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  padding-top: 10px;
}

.edit-field label {
  margin-left: 10px;
  cursor: pointer;
}

.edit-field input {
  width: 90%;
  margin: 10px;
  padding: 5px;
  border: none;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.submit-button {
  cursor: pointer;
  width: 100px;
  margin: 0 auto;
  padding: 10px 5px;
  background-color: white;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  border: none;
  transition: 0.2s linear;
  text-transform: uppercase;
}

.submit-button:hover {
  background-color: rgba(0, 0, 0, 0.255);
  color: white;
  transform: scale(1.1);
  font-weight: bold;
}

.close-button {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background-color: transparent;
  transition: 0.2s linear;
}

.confirm-list {
  list-style-type: none;
  text-align: left;
}

.confirm-list li {
  margin: 10px 0;
}

@media screen and (max-width: 1000px) {
  .Card {
    width: 80%;
  }
  .edit-container {
    width: 80%;
  }
}

@media screen and (max-width: 750px) {
  .Card {
    width: 80%;
  }
  .edit-container {
    width: 80%;
  }
}
